@import "compass/css3";

.nav {
  position: fixed;
  padding: 5px;
  z-index: 100;
  

  background-color: $color-magenta;
  @include box-shadow(0 0 5px rgba(black, 0.75));

  .rgba & {
    background-color: rgba($color-magenta, 0.95);
  }
  
  i {
    font-size: 25px;
    vertical-align: middle;
  }

  .label {
    font-size: 18px;
    padding-left: 5px;
  }

  a {
    display: block;
    padding: 5px;
    @include border-radius(5px);
    @include transition-property(background-color);
    @include transition-duration(0.3s);
    
    &.highlight {
      background-color: mix($color-magenta, $color-dark-blue);
    }
  }

  &, a {
    color: $color-almost-white;
  }

  @media only screen and (max-width: 480px) {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    
    .label {
      display: none;
    }
    
    li {
      @include inline-block;
      position: relative;
    }
  }
  
  @media only screen and (min-width: 480px) {
    left: 0;
    top: 0;
    bottom: 0;
    
    i {
      width: 35px;
    }
    ul {
      position: relative;
      margin-top: 20px;
      overflow: hidden;
      width: 40px;
      @include transition-property(width);
      @include transition-duration(0.3s);
    }
    
    li {
      white-space: nowrap;
    }
    
    .label {
      opacity: 0;
      @include transition-property(opacity);
      @include transition-duration(0.3s);
    }
    
    a:hover {
      background-color: $color-dark-blue;
    }
    
    &:hover {
      ul {
        width: 180px;
      }
      
      .label {
        opacity: 1;
      }
    }
  }
}