$color-almost-white: #F1FAF5;
$color-dark-blue: #13094F;
$color-teal: #15A8B0;
$color-magenta: #D21F56;
$color-muted-purple: #897578;
$color-black: #222;


body {
  background-color: $color-almost-white;
  color: $color-black;
}