// Media Query settings
$mq-mobile: "only screen (max-device-width: 480px)";
$mq-mobile-and-tablet: "only screen and (max-device-width: 1024px)";
$mq-tablet: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$mq-tablet-and-screen: "only screen and (min-device-width: 768px)";
$mq-screen: "only screen and (min-width : 1224px)";
